<h2>Edit Quote Form</h2>

<a href="/quote">Back To Home Page</a>

<form method="POST" action="/quote/{{quote._id}}?_method=PUT">
<div>
  <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  -->
  <p>
  <label for="quote-status">Status:</label>
  <input type="text" value="{{.quote}}" name="status" id="quote-status">
  </p>
  <p>
  <label for="create-date">Created At:</label>
  <input type="text" value="{{quote.createdAt}}" name="createdAt" id="create-date" >
  </p>
  <p>
  <label for="priority">Priority:</label>
  <input type="text" name="priority" value="{{issue.priority}}" id="priority" >
  </p>
  <p>
  <p>
  <label for="quote-description">Description:</label>
  <textarea name="description" id="quote-description" cols="30" rows="10">{{quote.description}}</textarea>
  </p>
  </div>
  <input type="submit" value="Update Quote" />
</form>
