<h2>{{quote.description}}</h2>

<a href="/quotes">Back To Home Page</a>

<div>
    <p><span>Status:</span> {{quote.status}}</p>
    <p><span>Date Created:</span> {{quote.createdAt}}</p>
    <p><span>Priority:</span> {{quote.priority}}</p>
    <p><span>Date Created:</span> {{quote.createdAt}}</p>
</div>

<a href="/quote/{{quote._id}}/edit">Edit Quote</a>

<form action="/quote/{{quote._id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete Quote">
</form>
